
body {
  background-color: #EFF8FB;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  text-align: center;
  float: right;
  width: 65%;
  margin: 0 auto;
  min-height: 100%;
}

.rounded {
  font-family: "Lato";
  border-radius: 10px;
  background-color: #ff6666;
}

#div {
  float: left;
  width: 200px;
  height: 100%;
  background-color: #cc0099
}

header {
  background: #ff6666;
  text-align: right;
  padding: 15px 10px 10px 10px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-family: "Lighthouse Personal Use";
  color: white;
  font-size: 40pt;
  margin: 0;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.profile {
  font-family: "Lato";
}
.new-profile input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-profile input:focus{
  outline: 0;
}

ul {
    list-style-type: none;
    font-family: "Lato";
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}


.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-profile input {
    padding-bottom: 5px;
  }
}
