<template name="browse">
	<div id="browse">
		<!-- <div class="ui search">
			<div class="ui icon input">
				<input class="prompt" type="text" placeholder="Search teammates...">
				<i class="search icon"></i>
			</div>
			<div class="results"></div>

			<div class="ui three doubling stackable cards">
				{{#each profiles}}
					{{> fullProfile}}
				{{/each}}
			</div>
		</div> -->
		<div style="text-align:center">

			<div style="font-family:'Moon Flower Bold'; font-size:60px;">Browse teammates</div> 

			<br>
			<p><i>Browse and request potential hack-homies here!</i></p>
			<br>
			{{> searchBox}}
		</div>
	</div>
</template>
