<template name="createProfile">
	<h2>Profile</h2>
	{{#with data}}
		<form class="profile">
			<p></p>
			<p>Name: <input type="text" name="name" value={{name}}></p>
			<p>School: <input type="text" name="school" value={{school}}></p>
			<p>Email: <input type="email" name="email" value={{email}}></p>
			<p><input type="submit" name="new-profile"></p>
		</form>
	{{/with}}

	<!-- {{#autoForm id="profile" type="insert" collection=Collections.People}}
		<Label>Name</Label>
		{{> afQuickField name="name"}}
		<Label>School</Label>
		{{> afQuickField name="school"}}
		<Label>Email</Label>
		{{> afQuickField name="email"}}
		<button type="submit">Submit</button>
	{{/autoForm}} -->



    


</template>
