<template name="createProfile">
	<div style="text-align:center">
		<div style="font-family:'Moon Flower Bold'; font-size:60px;">My Profile</div>
	</div>
	<br>
	<div class="ui grid">
		<div class= "five wide column"></div>
		<div class = "seven wide column">
			{{#with data}}
			<form class="ui form profile">
				<!-- <form action="profpic.asp">
					<input type="file" name="pic" accept="image/*">
					<p></p>
					<p><input type="submit"></p>
				</form>
				<br> -->
				<br>
				<div class="field">
					<label>Name</label>
					<input type="text" name="name" placeholder="Name" value={{name}}>
				</div>
				<br>
				<div class="field">
					<label>School</label>
					<input type="text" name="school" placeholder="School" value={{school}}>
				</div>
				<br>
				<div class="field">
					<label>Email</label>
					<input type="email" name="email" placeholder="Email" value={{email}}>
				</div>
				<br>
				<div class="field">
					<label>My Skills</label>
					<select id="mySkills" class="mySkills ui fluid search dropdown" multiple="">
						<option value="">Skills that I have</option>
						<option value="Angular">Angular</option>
						<option value="C">C</option>
						<option value="C++">C++</option>
						<option value="C#">C#</option>
						<option value="CSS">CSS</option>
						<option value="Graphic Design">Graphic Design</option>
						<option value="Ember">Ember</option>
						<option value="HTML">HTML</option>
						<option value="Java">Java</option>
						<option value="Javascript">Javascript</option>
						<option value="MATLAB">MATLAB</option>
						<option value="Meteor">Meteor</option>
						<option value="NodeJS">NodeJS</option>
						<option value="Objective-C">Objective-C</option>
						<option value="Python">Python</option>
						<option value="Rails">Rails</option>
						<option value="React">React</option>
						<option value="Ruby">Ruby</option>
						<option value="UI Design">UI Design</option>
						<option value="User Experience">User Experience</option>
					</select>
				</div>
				<br>
				<div class="field">
					<label>Teammate Skills</label>
					<select name="teamSkills" id="teamSkills" class="teamSkills ui fluid search dropdown" multiple="">
						<option value="">What skills am I looking for in teammates?</option>
						<option value="Angular">Angular</option>
						<option value="C">C</option>
						<option value="C++">C++</option>
						<option value="C#">C#</option>
						<option value="CSS">CSS</option>
						<option value="Graphic Design">Graphic Design</option>
						<option value="Ember">Ember</option>
						<option value="HTML">HTML</option>
						<option value="Java">Java</option>
						<option value="Javascript">Javascript</option>
						<option value="MATLAB">MATLAB</option>
						<option value="Meteor">Meteor</option>
						<option value="NodeJS">NodeJS</option>
						<option value="Objective-C">Objective-C</option>
						<option value="Python">Python</option>
						<option value="Rails">Rails</option>
						<option value="React">React</option>
						<option value="Ruby">Ruby</option>
						<option value="UI Design">UI Design</option>
						<option value="User Experience">User Experience</option>
					</select>
				</div>
				<br>
				<div class="field">
					<label>Experience</label>
					<select class="level ui dropdown" value = {{level}}>
						<option value="2">Super advanced pro</option>
						<option value="1">I'm ok I guess?</option>
						<option value="0">hacking baby</option>
					</select>
				</div>
				<br>
				<div class="field">
					<label>Interests</label>
					<select id="interests" class="interests ui fluid search dropdown" multiple="">
						<option value="">What do you wanna hack?</option>
						<option value="Mobile">Mobile</option>
						<option value="Web Applications">Web Applications</option>
						<option value="Hardware">Hardware</option>
						<option value="B">Games</option>
					</select>
				</div>
				<br>
				<div class="field">
                    <label>About</label>
                    <input type="text" name="about" placeholder="About me" value={{about}}>
                </div>
                <br>
				<button class="ui button" type="submit" name="new-profile">Submit</button>
			</form>
			{{/with}}
		</div>

	</div>
	<!-- 	<div class= "four wide column"></div> -->



</template>

<template name="userInfo">
	<option value={{_id}}>{{name}}</option>
</template>
