<template name="fullProfile">
  {{#if compatable}} 
  <div class="ui card">
    <div class="image">
      <img src={{profpic}}>
    </div>


    {{> fullProfileHelper}}

    <div class="extra content">
      <span>
        <img src="/recommendedstar.png" style="width:207.02px; height:49.5px; padding-left:10px;">
      </span>
    </div>

    {{> DynamicTemplate template=button}}
    <br>
  </div>
  
  {{else}}
  <div class="ui card">
    <div class="image">
      <img src={{profpic}}>
    </div>
    {{> fullProfileHelper}}
    {{> DynamicTemplate template=button}}
    <br>
  </div>
  {{/if}}
</template>