<template name="fullProfile">
  
  <div class="ui card" style="word-wrap:break-word;">

    {{> fullProfileHelper}}

    {{#if compatable}} 
    <div class="extra content">
      <span>
        <img src="/recommendedstar.png" style="width:207.02px; height:49.5px; padding-left:10px;">
      </span>
    </div>
    {{else}}
     <div class="extra content">
      <span>
        <img src="/recommendedempty.png" style="width:207.02px; height:49.5px; padding-left:10px;">
      </span>
    </div>
    {{/if}}

    {{> DynamicTemplate template=button}}
    <br>
  </div>
</template>