<template name="fullProfileHelper">
	<div class="extra content" style="background-color:#1abc9c">
		<span>
			<a href="/users/{{_id}}/team"><i class="user icon"></i>
				{{teamsize}}
			</a>
		</span>
	</div>

	<div class="content">
		<div class="header">{{personName}}</div>
		{{#if beginner}}
		<img src="/babyduck1.png" style="width:150px;height:150px; float:center;">
		{{else}}
		{{#if amature}}
		<img src="/teenduck.png" style="width:150px;height:150px; float:center;">
		{{else}}
		<img src="/grandpaduck.png" style="width:150px;height:150px; float:center;">
		{{/if}}
		{{/if}}
		
		<div class="description">
			<div class="colortext">
			<p>{{school}}</p>
			<p>{{email}}</p></div>
			<p>Interests: {{interests}}</p>
			<p>Skills: {{mySkills}}</p>
			<p>Seeking: {{teamSkills}}</p>
			<!-- <p>About: {{about}}</p> -->
		</div>
	</div>
	
</template>
