<template name="fullProfile">
<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src={{profpic}}>
    </div>
    <div class="content">
      <div class="header">{{name}}</div>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        <p>{{school}}</p>
        <p>{{email}}</p>
        <p>{{skills}}</p>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>
  </div>
</div>
</template>