<template name="fullProfileHelper">
	<div class="extra content">
		<span>
			<a href="/users/{{_id}}/team"><i class="user icon"></i>
				{{teamsize}}
			</a>
		</span>
	</div>
	{{#if beginner}}
		beginner
	{{else}}
		{{#if amature}}
			amature
		{{else}}
			advanced
		{{/if}}
	{{/if}}

	<div class="content">
		<div class="header">{{personName}}</div>
		<div class="description">
			<p>School: {{school}}</p>
			<p>Email: {{email}}</p>
			<p>Skills: {{mySkills}}</p>
			<p>Seeking: {{teamSkills}}</p>
			<p>Level: {{level}}</p>
			<p>Interests: {{interests}}</p>
		</div>
	</div>
	
</template>
