<template name="layout">
	<body>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel='icon' href='/ducklogo.png' type='image/png' >
		</head>
		<div class="ui grid">
			<div class = "sixteen wide column">
				<div style="float:right; padding-right: 20px; padding-top:15px;">

				<div class="ui compact menu">
					<a class="item" href="/sign-out" style="font-family:'Moon Flower Bold'; font-size: 25px; padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px; color:#1abc9c;">
						Log Out
					</a>

				</div></div>

			</div>
			<div class= "four wide column">
				{{> nav }}
			</div>
			<div class = "eleven wide column">
				<br>

				{{> yield}}

			</div>
			<div class = "sixteen wide column">
				{{>footer}}
			</div>
		</div>
	</body>
</template>
