<template name="nav">


  <div class="ui left fixed vertical menu">
    <div class="navwidth">
      <div class="item">
        <img class="ui mini image" src="/duck.png" style="left:40%">
      </div>
      <a class="item" href="/profile" style="color:white; ">Profile</a>
      <a class="item" href="/browse" style="color:white;">Browse</a>
      <a class="item" href="/teams" style="color:white;">
        Teams
        <div class="ui label">
          <i></i> {{teamCount}}
        </div>
      </a>
      <a class="item" href="/requests" style="color:white;">
        Requests
        <div class="ui label">
          <i></i> {{requestCount}}
        </div>
      </a>
    </div>

  </div>


</template>
