<template name="nav">


  <div class="ui left fixed vertical menu">
    <div class="navwidth">
      <div class="item">
        <img class="ui mini image" src="http://i649.photobucket.com/albums/uu213/jessie_wang1/duckcopy_zps1meckvp1.png" style="left:40%">
      </div>
      <a class="item" href="/profile" style="color:white; text-align:center;">Profile</a>
      <a class="item" href="/teams" style="color:white; text-align:center;">Teams</a>
      <a class="item" href="/browse" style="color:white; text-align:center;">Browse</a>
    </div>

  </div>



<!-- <link rel="stylesheet" type="text/css" href="/semantic.min.css">
<script src="semantic/dist/semantic.min.js"></script>
<div class="ui vertical pointing menu">
  <a class="item" href="/profile">
    Profile
  </a>
  <a class="item" href="/teams">
    Teams
  </a>
  <a class="item" href="/browse">
    Browse
  </a>
  <a class="item" href="/sign-out">
    Sign Out </a>
  </div> -->
</template>
