<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Test site</title>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="pretty.css">
  </head>

  <body>

    <div id="sidebar">
    	<div id = "profile">
    		<img src="kermit.png" style="width:150x;height:150px;border-radius:15px">
    		<p> Kermit Frog </p>
    	</div>
    <div id= "navbar">
    	<ul>
    		<li><a href="#profile">Profile</a></li>
    		<li><a href="#browse">Browse</a></li>
   		</ul>
	</div>
    </div>
    <div id="content">
    	<div id="header">HackHomies</div>

    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    	<div class="user"></div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    <script src="./inc/js/index.js" ></script>
  </body>
</html>
    
    
    
    
