<template name="requests">
	<div id="requests">
		
		<div>
			<h2>Team Requests</h2> 
			<p> These homies wanna be on your team! Approve?</p>
				<div style="text-align:center" class="ui three doubling stackable cards">
					{{#each received}}
						{{> fullProfile}}
					{{/each}}
				</div>
		</div>
		<br><br>
		<div>
			<h2>Pending</h2> 
			<p> Still waiting for these potential homies to approve you....</p>
				<div style="text-align:center" class="ui three doubling stackable cards">
					{{#each sent}}
						{{> fullProfile}}
					{{/each}}
				</div>
		</div>

	</div>
</template>
