<template name="requests">
	<div id="requests">

		<div style="text-align:center;">
			<div style="font-family:'Moon Flower Bold'; font-size:60px;">Team Requests:</div> <br>
			<p><i> These homies wanna be on your team! Approve?</i></p> <br>
				<div style="text-align:center" class="ui three doubling stackable cards">
					{{#each received}}
						{{> fullProfile}}
					{{/each}}
				</div>
		</div>
		<br><br>

		<div style="text-align:center;">
			<br>
			<div style="font-family:'Moon Flower Bold'; font-size:60px;">Pending:</div> <br>
				<p> Still waiting for these potential homies to approve you....</p><br>
				<div style="text-align:center" class="ui three doubling stackable cards">
					{{#each sent}}
						{{> fullProfile}}
					{{/each}}
				</div>
		</div>

	</div>
</template>
