<template name="requests">
	<div id="requests">
		
		<div style="text-align:center;">
			<br>
			<div style="font-family:'Moon Flower Bold'; font-size:50px;">Team Requests</div> 
				<div style="text-align:center" class="ui three doubling stackable cards">
					{{#each received}}
						{{> fullProfile}}
					{{/each}}
				</div>
		</div>
		<br><br>
		<div style="text-align:center;">
			<div style="font-family:'Moon Flower Bold'; font-size:50px;">Pending</div> 
				<div style="text-align:center" class="ui three doubling stackable cards">
					{{#each sent}}
						{{> fullProfile}}
					{{/each}}
				</div>
		</div>

	</div>
</template>
